# Python
__pycache__/
*.py[cod]
*$py.class
*.env
.env
venv/
env/
.venv
.pytest_cache/
.coverage
htmlcov/
dist/
build/
*.egg-info/

# Terraform
.terraform/
*.tfstate
*.tfstate.backup
# .terraform.lock.hcl
*.tfvars

# Kubernetes / Local temp
k8s_yaml_storage/
.minikube/
kubeconfig

# IDEs
.idea/
.vscode/
.cursor/
*.swp
*.swo

# ML / Airflow
ml/logs/
ml/outputs/

# OS
.DS_Store
Thumbs.db

# Project specific
diary/
node_modules/
*.pem
*.key
*.jks
*.p12

# Sonar Scan
sonar_scan/
source_code_issues_*.json
