# Python
__pycache__/
*.py[cod]
*$py.class
*.env
.env
venv/
env/
.pytest_cache/
.coverage
htmlcov/
dist/
build/
*.egg-info/

# Terraform
.terraform/
*.tfstate
*.tfstate.backup
.terraform.lock.hcl
*.tfvars

# Kubernetes / Local temp
k8s_yaml_storage/
.minikube/
kubeconfig

# IDEs
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db
